---
Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-redundant-access-specifiers,
  misc-*,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-unused-parameters,
  -misc-non-private-member-variables-in-classes,
  -misc-multiple-inheritance,
  -misc-use-anonymous-namespace
CheckOptions:
  - key:             readability-function-cognitive-complexity.Threshold
    value:           '60'
ExtraArgs: ['-Wno-unknown-warning-option', '-Wno-unknown-argument']
...
