---
Checks: '-*,clang-diagnostic-*,clang-analyzer-*,-*,readability-*,bugprone-*,performance-*,misc-*,-misc-non-private-member-variables-in-classes'
WarningsAsErrors: ''
ExtraArgs: ['-Wno-unknown-warning-option', '-Wno-unknown-argument']
...
