build/
.qt/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
KMagMux
KMagMux_autogen/
*.o
*.moc
.DS_Store
*.user
*.pro.user
/plugins/
/src/plugins/qbittorrent/qbittorrent_autogen/
*.py
docker_build.log
