[Desktop Entry]
Name=KMagMux
Comment=Torrent and Magnet link router and manager
Exec=KMagMux %u
Icon=kmagmux
Type=Application
Terminal=false
Categories=Network;FileTransfer;Qt;KDE;
MimeType=x-scheme-handler/magnet;application/x-bittorrent;
SingleMainWindow=true
